<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>REDCROSS Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/navigation') -%>
  <script>

  </script>
</body>
</html>